$primaryColor: #9F1704;
$secondaryColor: #DB8712;
$grayColor: #E29314;
$lightGreyColor: #f0f5ff;
$darkGreyColor: #9F0527;
$darkGreyColor: #974A12;
$errorColor:#ff7563;
$fontRegular: "Biennale Regular";
$fonteBold: "Biennale Bold";
$fontLight: "Biennale Light";
$breakpointDesktop: 992px;
