

<nav>

  <div class="menu-btn">


    <i class="icon"></i>
  </div>
  <div class="side-bar active">
    <div class="close-btn">
      <i class="icon"></i>
    </div>
    <div class="menu">







      <div class="item">
        <a class="sub-btn"[routerLink]="['/home']"><i><img src="assets/icon/Home.png" alt="some text" width=20 height=20></i>Home<i
            class="dropdown"></i></a>

      </div>




      <div class="item">
        <a class="sub-btn"><i><img src="assets/icon/notificacao.png" alt="some text" width=20 height=20></i>Notificações<i
            class="dropdown"></i></a>
        <div class="sub-menu">
          <a class="sub-item "[routerLink]="['/notificacao']" > Teste 1</a>


        </div>


        <div class="item">
          <a class="sub-btn"><i><img src="assets/icon/carteira.png" alt="some text" width=20 height=20></i>Carteiras<i
              class="dropdown"></i></a>
          <div class="sub-menu">
            <a class="sub-item"[routerLink]="['/carteira']"> Teste 1</a>


          </div>


          <div class="item">
            <a class="sub-btn"><i><img src="assets/icon/analises.png" alt="some text" width=20 height=20></i>

              Análises<i
                class="dropdown"></i></a>
            <div class="sub-menu">
              <a  class="sub-item"[routerLink]="['/analises']"> Teste 1</a>


            </div>




          </div>
        </div>
      </div>
    </div>
  </div>





</nav>
